* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-width: 340px;
    position: relative;
}

#reservation {
    font-family: 'Old Standard TT', serif;
    margin-top: 200px;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(127, 127, 127);
    letter-spacing: 2px;
    padding: 10px;
}

#reservation p {
    color: #D4AF37;
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    padding-bottom: 15px;
}

#calendar {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    /* margin: 0px 20px 0px 20px; */
    margin-top: 5%;
    font-family: 'Jost', sans-serif;
}

#calendar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #D4AF37;
    color: white;
}

#current-month {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
}

#calendar-table {
    width: 100%;
    border-collapse: collapse;
}

#calendar-table th {
    font-weight: bold;
    color: #D4AF37;
    letter-spacing: 2px;
    border: none;
}

#calendar-table th,
#calendar-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#calendar-table td:empty {
    background-color: #eee;
}

#prev-month-button,
#next-month-button {
    padding: 10px;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

#prev-month-button:hover,
#next-month-button:hover {
    color: rgb(219, 219, 219);
}

#calendar-table td {
    font-size: 1.2em;
}

#calendar-table td {
    width: 40px;
    height: 60px;
    text-align: right;
    vertical-align: top;
}

td.current {
    background-color: #ddd;
    font-weight: bold;
}

#calendar-table td {
    cursor: pointer;
}

#calendar-table td:hover {
    background-color: #ddd;
}

#form-div {
    position: absolute;
    top: 25%;
    right: 35%;
    left: 35%;
    width: 30%;
    padding: 40px;
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgb(178, 178, 178);
    display: none;
    font-size: 18px;
    color: rgb(127, 127, 127);
}

#form-div p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 6px;
}

#form-div h2 {
    text-align: center;
    color: #D4AF37;
    letter-spacing: 0.2rem;
    margin-bottom: 12px;
}

#form-div label {
    margin: 5px;
    letter-spacing: 0.1em;
}

#form-div input {
    margin: 5px;
    padding: 6px;
    width: 70%;
    font-size: 17px;
    color: rgb(127, 127, 127);
}

#submit-button {
    background-color: #D4AF37;
    color: white;
    letter-spacing: 0.1em;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    padding: 15px 30px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid #D4AF37;
}

#form-div button:hover {
    color: #D4AF37;
    background-color: white;
    border: 2px solid #D4AF37;
}

/* #form-div.visible {
    display: block;
} */

#close-button {
    background-color: #D4AF37;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 8px;
    text-align: center;
    display: block;
    border: 2px solid #D4AF37;
    cursor: pointer;
    color: white;
}


@media only screen and (max-width:1000px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
        min-width: 402px;
    }

    #navbar .container {
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }

    .container img {
        height: 65px;
        margin: 5px;
    }

    .menu {
        height: 50vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        text-align: center;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 1px 7px 0px grey;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;
        display: none;
    }

    .menu li {
        margin: 22px;
    }

    .menu a {
        padding: 10px;
        transition: 300ms;
    }

    .menu a:hover {
        background-color: #D4AF37;
        color: white;
    }

    .schedule-button {
        padding: 12px;
        text-decoration: none !important;
        display: flex;
        align-items: center;
    }

    #navbar .open-menu {
        display: inline;
    }

    #navbar .menu .close-menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    #reservation {
        margin-top: 180px;
    }

    #calendar {
        margin-top: 15%;
        width: 100%;
        /* overflow-x: scroll; */
    }

    #form-div {
        position: absolute;
        top: 30%;
        right: 5%;
        left: 5%;
        width: 90%;
    }

    .fb-insta-icon {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .fb-insta-icon span {
        height: 33px;
    }
}